.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: #152b3d;
 }
 .header_wrap {
  display: flex;
  align-items: center;
 }
 .logo {
  margin-right: auto;
  font-style: normal;
  font-size: 34px;
 }
 .header_phone {
  margin-left: 20px;
  margin-right: 25px;
 }
 logo,
 .header_phone {
  padding: 5px 0;
  color: #d7f2da;
 }
 .container {
  margin-left: 5px;
 }
