.promo {
  margin-top: 87.33px;
  background-size: cover;
  background-image: url(/images/castle.jpg);
  height: 650px;
  background-repeat: no-repeat;
  background-position: center;
  border-style: dotted;
}
.promo_about {
  align-content: flex-end;
  margin-top: 5%;
  border-style: dotted;
  height: auto;
  width: auto;
  margin: 5%;
}
// .promo-inner {
//   margin: 0 auto;
//   width: 1024px;

//   @media (max-width: 1279px) {
//     width: auto;
//     max-width: 1024px;
//   }
// }

// .promo-ttl {
//   font-size: $h1-fz-desktop;
//   font-weight: $h1-fw;

//   @media (max-width: 1279px) {
//     font-size: $h1-fz-tablet;
//   }

//   @media (max-width: 669px) {
//     font-size: $h1-fz-mobile;
//   }
// }
